<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <img src='./assets/images/stone-soup_1_orig.jpg'>
      This is Stone Soup, an app for meal prepping and sharing together! 
    </p>
  </body>
</html>
